services:
  # Serviço do Backend (Spring Boot)
  - type: web
    name: escala-backend
    runtime: docker
    rootDir: escala-backend
    plan: free
    branch: main
    envVars:
      - key: PORT
        value: 8080
      - key: GOOGLE_CLIENT_ID
        sync: false
      - key: GOOGLE_AUTO_ONBOARDING_DOMAIN
        sync: false
      - key: GOOGLE_AUTO_ONBOARDING_HOSPITAL_ID
        sync: false

  # Serviço do Frontend (React/Vite)
  - type: web
    name: escala-frontend
    runtime: static
    rootDir: escala-frontend
    buildCommand: npm install && npm run build
    staticPublishPath: ./dist
    branch: main
    routes:
      - type: rewrite
        source: /(.*)
        destination: /index.html
    envVars:
      - key: VITE_API_URL
        fromService:
          type: web
          name: escala-backend
          property: host
      - key: VITE_GOOGLE_CLIENT_ID
        sync: false
